@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
   height: 100%;
   margin: 0;
   text-align: center;
   flex-direction: column;
}

header {
    background-image: url(img/image-fond.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: 'avenir';
    font-size: 14px;
}


.arrow {
    font-size: 20px;
    color: white;
}

.arrow:hover {
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

header h1 {
    margin: 10px;
    text-align: left;
    color: white;
    padding: 0px 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out; 
    transform: translate(260px, -70px);
    font-size: 130%;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    min-height: 100%;
}

article{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    width: 40%;
    margin: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
}
    
article:hover {
    filter: grayscale(100%);
    color: honeydew;
   
}

article h1 {
    color: rgb(163, 12, 12);
    padding: 7px ;
    font: bold;
}

article h2 {
    color: rgb(0, 0, 0);
    padding: 6px ;
    font: bold;
}

article h3 {
    color: rgb(0, 0, 0);
    padding: 6px;
    font: bold;
}

section p {
    color: rgb(64, 64, 65);
}

/**RESPONSIVE MOBILE**/
@media screen and (max-width: 600px){

    section
    {
        font-size: 14px;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 80%;
        font-family: 'Times New Roman', Times, serif;
    }

    article {
        background-color: rgb(0, 135, 197);
    }

}

/*TABLET*/
@media screen and (min-width: 600px) and (max-width: 900px) {

    section 
    {
        font-family: 'roboto';
        font-size: 100%;
        flex-direction: row;

    }

    article {
        background-color: fuchsia;
    }

}

