html, body {
   height: 100%;
   margin: 0;
   text-align: center;
}

header {
    background-image: url(img/image-fond.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: 'avenir';

}


.arrow {
    font-size: 20px;
    color: white;
}

.arrow:hover {
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}


header h1 {
    margin: 0px;
    text-align: left;
    color: white;
    padding: 7px 20px ;
    cursor: pointer;
    transition: all 0.2s ease-in-out; 
    transform: translate(260px, 70px);
}

header h2 {
    margin: 0px;
    text-align: left;
    color: white;
    padding: 7px 20px ;
    font-family: 'avenir';
    transform: translate(270px, 60px);
    font-size: 100%;
    cursor: pointer;

}


header h3 {
    margin: 0px;
    text-align: left;
    color: white;
    padding: 7px 20px ;
    font-family: 'avenir';
    transform: translate(270px, 50px);
    font-size: 100%;
    cursor: pointer;

}

header p {
    margin: 0px;
    text-align: left;
    color: white;
    padding: 7px 20px ;
    font-family: 'avenir';
    transform: translate(270px, 45px);
    font-size: 100%;
    cursor: pointer;

}


section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    min-height: 100%;

}

article{
    display: flex;
    flex-direction: row;
    width: 0%;
    margin: 0px;
    padding: 80px;
    cursor: pointer;
    transition: all 0.2s ease-in-out; 
    justify-content: center;
    background-color: rgb(156, 156, 156);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;   
    font-size: 70%;
}
    
article:hover {
    filter: grayscale(100%);
    color: honeydew;
}

article h2 {
color: rgb(163, 12, 12);
padding: 7px ;
font: bold;
font-family: 'roboto';
}

section p {
color: ghostwhite;
padding: 10px ;

}

