body{
    background-color: #8B2E31;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    margin: 10px;
    color: #500303; 
    font-weight: bold; 
    width:430px;  
    margin:auto; 
    animation: enter 2s ease-in-out 1 alternate;
}

table {
border:3px solid #500303;
border-collapse:collapse;
width:90%;
margin:auto;
}

thead, tfoot {
    background-color:#ffffff;
    border:1px solid #6495ed;
    }
    tbody {
    background-color:#8B2E31;
    border:1px solid #8B2E31;
    }
    th {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border:1px dotted #500303;
    padding:5px;
    background-color:#8B2E31;
    width:25%;
    color: #ffffff;
    }
    td {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:80%;
    border:1px solid #500303;
    padding:5px;
    text-align:center;
    color: white;
    }
    caption {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    }

    .deuxieme {
         letter-spacing: 0.4em; 
    }


    button {
        padding:6px 0 6px 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background:#500303;
        color:#ffffff;
        border-radius:2px;
        width:100px;
        border:1px solid #ccc;
        font-size: 70%;
        font: bold;
        cursor: pointer;
    }


    @keyframes enter {
        from {
            transform: translateX(-300px);        
    }
        to {
            transform: translateX(0px);
        }
    }

    footer {
        background-color: #500303;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px;
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
    }